.body {
  color: #4a3292;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 100vh;
  padding: 20px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  margin-bottom: 40px;
}

.social-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.social-link {
  padding: 5px;
}

.social-icon-brands {
  font-family: 'Fa brands 400', sans-serif;
  font-size: 22px;
  line-height: 22px;
  text-decoration: none;
}

.link-block {
  display: block;
  padding: 5px;
  color: #4a3292;
  text-decoration: none;
}

.social-link-block {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px;
  color: #4a3292;
  text-decoration: none;
}

.div-block-3 {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

.link-block-2 {
  padding: 5px;
  color: #4a3292;
  text-align: center;
  text-decoration: none;
}

.text-block {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.75px;
  text-decoration: none;
}

.image {
  width: auto;
  height: 70vh;
}

.div-block-4 {
  width: 500px;
  margin-bottom: 40px;
}

.container {
  max-width: none;
}

@media screen and (max-width: 767px) {
  .body {
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    padding-top: 10px;
  }
  .div-block {
    height: auto;
    min-height: 0vh;
    padding: 0px 0px 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .div-block-3 {
    text-align: center;
  }
  .link-block-2 {
    color: #4a3292;
    text-decoration: none;
  }
  .text-block {
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }
  .image {
    height: auto;
  }
  .div-block-4 {
    width: auto;
  }
}

@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}